*{

}

#contact{
    text-align: center;
}

.icons {
    text-align: center;
}

#skills{
    text-align: center;
}

.resume{
    color: inherit;
    color: olive;
    text-decoration: none;
    border: outset 8px ;
}

button > a{
    color: inherit;
    color: olive;
    text-decoration: none;
}

header{
    background-color: rgb(255, 217, 0);
}